/* General */
body, .doc {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.truncate {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (pointer: fine) {
  @supports (scrollbar-width:thin) {
    body * {
      scrollbar-color: #d9e7ef transparent;
    }
  }
}

/* Header */
#site-logo {
  height: 43px;
  width: 92.5px;
}

/* Content area */

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  color: #002d41;
}

.doc code {
  padding: 0;
}

/* Images */
img {
  max-height: 33vh;
  color-scheme: light;
}


/* Navbar */
nav.navbar {
  background-color: #f3f7f9;
}

nav.navbar .navbar-item {
  color: #002d41;
}

.navbar-end>a.navbar-item {
  background: inherit;
  color: #002d41;
  font-size: 0.75rem;
}

.navbar-end>a.navbar-item:hover {
  color: #002d41;
  background-color: #e9f1f5;
}

/* Hide "search in project" filter */
#search-field > label.filter {
  display: none;
}

#search-input {
  font-size: 0.75rem;
}

/* Nav menu */
aside.nav {
  background-color: #f3f7f9;
}

/* Toolbar */
main > .toolbar {
  background-color: #f3f7f9;
}

/* Nav explorer */
aside.nav .nav-panel-explore {
  background-color: #f3f7f9;
}

@media screen and (min-width: 1024px) {
  nav .nav-list > li {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .75rem;  /* Equal to font-size in TOC. */
  }

  .toc-menu ul > li {
    white-space: nowrap;  /* Somehow prevents wrapping at all... Not sure if this is desired. */
  }

  .table-container {
    overflow-x: auto;
  }

  /*
  .nav-container {
    width: 25vw;
  }

  aside.toc.sidebar {
    flex-basis: 20rem;
  }
  */
}
