name: Publish to GitHub Pages
on:
  workflow_call:
defaults:
  run:
    shell: bash
concurrency:
  group: github-pages
  cancel-in-progress: false
permissions:
  contents: write
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/netbeheer-nederland/dataproducten:latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Configure Pages
        uses: actions/configure-pages@v3
      - name: Git preparations
        run: |
          # git config --global safe.directory '*'
          git fetch --tags
      - name: Generate site
        run: just build
      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: output/docs/html
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
